section {
  position: relative;
  overflow: hidden;
  height: 100dvh;
  width: 100dvw !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none; /* Prevent interaction with the overlay */
  background: radial-gradient(
    circle at center,
    transparent 50%,
    rgba(0, 0, 0, 0.7) 100%
  );
  transition: opacity 0.2s ease;
  opacity: 0;
}

.overlay.active {
  opacity: 1;
}

.light {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none; /* Prevent interaction with the light effect */
  background: radial-gradient(circle at center, transparent, #000 30%);
}
.password-box {
  width: 200px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  background: white; /* Adjust background color as needed */
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 20px !important;
  justify-content: center;
  align-items: center;
  pointer-events: all; /* Allow interaction with the password box */
  position: absolute;
  z-index: 1000; /* Ensure it is above other content */
  opacity: 0; /* Start hidden */
  transition: opacity 0.3s ease; /* Smooth transition for visibility */
}

.password-box.visible {
  opacity: 1; /* Visible */
}

.password-box.hidden {
  opacity: 0; /* Hidden */
}
